.image{
    width: 100%;
    height: 400px;
    margin-top: 90px;
    border-radius: 20px;
    
  }
  .profil{
      border-radius: 50%;

      position: absolute;
    width: 159px;
    height: 139px;
    left: 50px;
    top: 420px;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);

    background: #1C58B0;
  }
  .titre{position: absolute;
    width: 340px;
    height: 69px;
    left: 220px;
    top: 480px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    
    color: #000000;}
    .nom{/* nom du prof */


        position: absolute;
        width: 340px;
        height: 69px;
        left: 250px;
        top: 520px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 36px;
        /* or 257% */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        
        color: #000000;
        }
     .resume{
        width: 1365px;
        height: 198px;
        left: 48px;
        top: 100px;
        
        background: #FFFFFF;
        border: 5px solid #1C58B0;
        box-sizing: border-box;
        border-radius: 50px;} 
     .requis{
        width: 1107px;
        height: 212px;
        left: 48px;
    
        top: 150px;
        
        background: #FFFFFF;
        border: 5px solid #1C58B0;
        box-sizing: border-box;
        border-radius: 50px;}     
    .duree{
        width: 247px;
        height: 93px;
        left: 1174px;
        top: -50px;
        
        background: #FFFCFC;
        border: 3px solid #1C58B0;
        box-sizing: border-box;
        border-radius: 50px;} 
    .btn{display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 16px;
        
        position: absolute;
        width: 233px;
        height: 60px;
        left: 1180px;
        top: 980px;
        
        background: #1C58B0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
    color: white;}  
    .res{
        width: 373px;
        height: 59px;
        left: 50px;
        top: 174px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 36px;
        /* or 225% */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        
        color: #000000;
        }
    .niveau{width: 215px;
        height: 35px;
        left: 121px;
        top: 824px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 36px;
        /* or 225% */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        
        color: #000000;
        }
       .dure{
        width: 74px;
        height: 44px;
        left: 1192px;
        top: 815px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 36px;
        /* or 225% */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        
        color: #000000;}          