
<mat-card class="mainc" *ngIf="nav.visible"> 
  <mat-toolbar color="primary" class="bar" >
    <a  href="#" class="logo"><mat-icon>donut_small</mat-icon></a>
    <form class="example-form ">
      <mat-form-field class="example-full-width" >
        <mat-label>search</mat-label>
      <input class="txt" type="search" placeholder="Search" matInput >

      </mat-form-field>
      <button class="b" mat-mini-fab aria-label="Example icon button with a menu icon">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <mat-nav-list  >
      
   
    
      <a mat-list-item class="link1" routerLink="/cours" routerLinkActive="active">COURS</a>
      <a mat-list-item class="link2" routerLink="/enseignants" routerLinkActive="active">ENSEIGNANTS</a>
      </mat-nav-list>
      <button mat-raised-button class="btn" routerLink="/login" routerLinkActive="active">se connecter</button>
    </mat-toolbar>
</mat-card>
 