.bar{background-color: #1C58B0;
  top: 0px;
  left: 0px;
 }
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mainc{position: absolute;
  width: 1620px;
  height: 50px;
  left: 0px;
  top: 0px;
background-color:#1C58B0;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
border-radius: 20px;}





.link1{position: absolute;

  left: 1200px;
  top: 0px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;




  align-items: center;
  text-align: center;
  letter-spacing: 1.25px;
  
  color: #FFFFFF;
  }

.link2{  position: absolute;
width: 122px;
height: 13px;
left: 1300px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 36px;




align-items: center;
text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

color: #FFFFFF;
}
.example-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  

  width: 700px;
  height: 30px;
  left: 10px;
  top: -5px;
  
  background: #FFFFFF;
  
  position:relative;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 50px;
}

.example-full-width {
  width: 100%;
}
.btn{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;

position: absolute;
width: 103px;
height: 57px;
left: 1500px;
top: -9px;
color: white;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 36px;


background: #FCC02E;
border-radius: 50px;
}
.txt{color: black;}
.b{background: #FCC02E;}
.logo{
  height: 100px;
  width: 100px;
  font-size: 100px;
  color: #FCC02E;
  margin-top: 10px;
}