.welcomeC{
    position: absolute;
width: 1333px;
height: 160px;
left: 100px;
top: 100px;

background: #1C58B0;
border-radius: 20px;
}

.welcome{
    position: absolute;
width: 1310px;
height: 147px;
left: 500px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 36px;
/* or 75% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

color: #FFFFFF;
}
.text{
    position: absolute;
width: 1310px;
height: 147px;
left: 480px;
top: 40px;

font-family: 'Roboto';
font-style: normal;

font-size: 24px;
line-height: 36px;
/* or 75% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 1.25px;


color: #FFFFFF;
}

.blackTitle1{
    position: absolute;
width: 372px;
height: 70px;
left: 28px;
top: 287px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 36px;
/* or 257% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

color: #000000;

}

.cours1{
    width: 1550px;
    height: 400px;
    left: 28px;
    top: 334px;
    background-color: #1C58B0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    display: flex;
}
.blackTitle2{
    position: absolute;
width: 372px;
height: 70px;
left: 28px;
top: 754px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 36px;
/* or 257% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

color: #000000;

}

.cours2{
    width: 1550px;
    height: 400px;
    left: 28px;
    top: 374px;
    background-color: #1C58B0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    display: flex;
}
