<mat-toolbar class="tri">
   trier par:
   <mat-nav-list class="list">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        prix
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        prix
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
   </mat-nav-list>
</mat-toolbar>
<mat-card class="main">
<mat-card class="cours">
    
    <div class="f1">
    <img  mat-card-image src="assets/background.jpg">
    
    <mat-card-subtitle class="sub">
        <img mat-card-image src="assets/prof.png" class="profil">
        <p class="nom">nom du prof <br>
        nom du cours</p> 
        </mat-card-subtitle>
        </div>
        <br>
       
        <br>
        <mat-card-content class="content">description du cours</mat-card-content>
        <mat-card-footer  class="controls">
        <button mat-stroked-button color="primary" class="voirplus">voir plus</button>
        </mat-card-footer>     
   
</mat-card>

<mat-card class="cours">
    
    <div class="f1">
    <img  mat-card-image src="assets/background.jpg">
    
    <mat-card-subtitle class="sub">
        <img mat-card-image src="assets/prof.png" class="profil">
        <p class="nom">nom du prof <br>
        nom du cours</p> 
        </mat-card-subtitle>
        </div>
        <br>
       
        <br>
        <mat-card-content class="content">description du cours</mat-card-content>
        <mat-card-footer  class="controls">
        <button mat-stroked-button color="primary" class="voirplus">voir plus</button>
        </mat-card-footer>     
   
</mat-card>

<mat-card class="cours">
    
    <div class="f1">
    <img  mat-card-image src="assets/background.jpg">
    
    <mat-card-subtitle class="sub">
        <img mat-card-image src="assets/prof.png" class="profil">
        <p class="nom">nom du prof <br>
        nom du cours</p> 
        </mat-card-subtitle>
        </div>
        <br>
       
        <br>
        <mat-card-content class="content">description du cours</mat-card-content>
        <mat-card-footer  class="controls">
        <button mat-stroked-button color="primary" class="voirplus">voir plus</button>
        </mat-card-footer>     
   
</mat-card>

</mat-card>

